<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop now</title>
    <link rel="stylesheet" href={{style}}>
    <style>
        body {
            background-image: url(https://img1.goodfon.com/wallpaper/nbig/3/37/particle-dark-orange-blue-loghts-rays-gabriel-marusak.jpg);
        }
    </style>

</head>

<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/services">Our services</a>
        <a href="/contact">Contact us</a>

    </nav>
    <main>
        <h1>Contact us with</h1>
        <dl>
            <dt>Email:</dt>
            <dd>abir@email.com</dd>
            <dt>Phone Number:</dt>
            <dd>50 000 000</dd>
            <dt>Address</dt>
            <dd>Rades port 4000</dd>
        </dl>
        <img src="https://www.enigmafellowship.com/wp-content/uploads/2020/10/contact-header-art-1.png"
            alt="Italian Trulli">
    </main>
</body>

</html>